DATABASE_URL=''
PORT=5000
APP_URL=http://localhost:5000
BCRYPT_SALT_ROUNDS=
JWT_ACCESS_SECRET=''
JWT_REFRESH_SECRET=''
JWT_ACCESS_EXPIRES_IN=''
JWT_REFRESH_EXPIRES_IN=''
NODE_ENV='developmet'
STRIPE_SECRET_KEY=''
CLIENT_URL=http://localhost:3000
STRIPE_WEBHOOK_SECRET=''